<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bohonos.demski.mieldzioc.creatingAndEditingSurvey" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNewSurveyQuestionsActivity"
            android:label="@string/title_activity_create_new_survey" >
        </activity>
        <activity
            android:name=".create_new_survey"
            android:label="@string/title_activity_create_new_survey" >
        </activity>
        <activity
            android:name=".EditDateTimeQuestion"
            android:label="@string/title_activity_edit_date_time_question" >
        </activity>
        <activity
            android:name=".EditScaleQuestion"
            android:label="@string/title_activity_edit_scale_question" >
        </activity>
        <activity
            android:name=".EditChoiceQuestion"
            android:label="@string/title_activity_edit_choice_question" >
        </activity>
        <activity
            android:name=".EditTextQuestion"
            android:label="@string/title_activity_edit_text_question" >
        </activity>
        <activity
            android:name=".EditGridQuestion"
            android:label="@string/title_activity_edit_grid_question" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.AnswerDropDownListQuestionActivity"
            android:label="@string/title_activity_answer_drop_down_list_question" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.ChooseSurveyToFillActivity"
            android:label="@string/title_activity_choose_survey_to_fill" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.AnswerOneChoiceQuestionActivity"
            android:label="@string/title_activity_answer_one_choice_question" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.AnswerMultipleChoiceQuestionActivity"
            android:label="@string/title_activity_answer_multiple_choice_question" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.AnswerScaleQuestionActivity"
            android:label="@string/title_activity_answer_scale_question" >
        </activity>
        <activity
            android:name="bohonos.demski.mieldzioc.fillingSurvey.WelcomeFillingActivity"
            android:label="@string/title_activity_welcome_filling" >
        </activity>
    </application>

</manifest>
